form {
    max-width: 100%;
    margin: 0;
    padding: 0 5px;
  }
  body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 85%;
    background-color: #333639;
    /* color: #F9FAFA; */
    color: #F7DC6F;
    /* background-image: url(../images/right-side-image.png) */
    
  }
  
  button {
    font-family: 'Segoe UI', Tahoma, sans-serif;
  }
  p  {
    display: inline;
    font-size: 2em;
  }
  /* #container{
      padding-top: 20px;
  } */
  form > div > label {
    position: absolute;
  }
  form > div {
    position: relative;
  }
input {
  display: inline-block;
  width: 98%;
  position: relative;
 top: 0.5em;
}

label {
  display: inline-block;
  width: 98%;
  margin-right: .5em;
  padding-top: 0.5em;
  font-display: block;
}
hr.top-hr:before { 
    display: block; 
    content: ""; 
    height: 30px; 
    margin-top: -31px; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 0 0 1px 0; 
    border-radius: 20px; 
  }
#right-side{
    background-image: url(../images/right-s-image.png);
}